.form
{
   
    margin-top: 10px 30px;
background-image: url('./1.jpeg');
background-repeat: no-repeat;
position: absolute;
transform: translate(30%);
height: 80%;
width: 50%;
}
.login
{
    padding: 10px 30px;
    font-size: larger;
    font-weight: bold;
}
.btn
{
    padding: 10px 30px;
    margin: 10px 50px;
    font-size: large;
    font-weight: bold;
}


